#contactsCreate,
#contactsEdit {
    .optional {
        color:rgb(122, 122, 122);
    }
    .btnSubmit {
        position: sticky;
        bottom: 0px;
        display: block;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px #D3D3D3;
        padding:10px;
    }
    .listDataContact {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        grid-gap: 25px;
        max-width: 560px;
        padding:25px;
        box-shadow: 0px 5px 4px #D3D3D3;
        border-radius: 5px;
        font-size: 14px;
        line-height: 19px;
        li {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-template-rows: 1fr;
            strong {
                text-align: right;
            }
        }
    }
}