.exampleForm7 {
    margin-bottom: 20px;
    .infoBlock {
        width: 100%;
        position: relative;
        box-shadow: 0px 4px 4px #d3d3d3;
        border: none;
        padding:5px 10px 5px 20px;
        background-color:#fff;
        line-height: 1.2;
        
        //default style
        color:$warning;
        border-left:16px solid $warning;
        .btn {
            padding:0px;
            font-size: 16px;
        }
    }
    .exampleForm7Content {
        position: fixed;
        left:0px;
        top:0px;
        width:100%;
        height:100%;
        background-color:rgba(0,0,0,0.5);
        z-index:9999;
        .contentBlock {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            z-index: 2;
            background: #FFFFFF;
            box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.07), 0px 12px 16px rgba(0, 0, 0, 0.07), 0px 8px 8px rgba(0, 0, 0, 0.07), 0px 4px 4px rgba(0, 0, 0, 0.07), 0px 2px 2px rgba(0, 0, 0, 0.07);
            border-radius: 5px;
            padding:60px 30px 30px ;
            .btnClose {
                position: absolute;
                top:15px;
                right:20px;
                cursor:pointer;
                i {
                    font-size:26px;
                    color:#7E7E7E;
                }
            }
            h6 {
                margin-bottom: 30px;
            }
            select {
                max-width: inherit;
            }
            textarea {
                color:#000;
                height:78px;
            }
            .btnBlock {
                margin-top:30px;
                .btn {
                    width: 100%;
                }
            }
        }
    }
}