.imagesGalleryBlock {
    padding:0px;
    background-color:#ECEFF1 !important;
    .nav-tabs {
        border-bottom: none;
        li {
            margin-bottom: 0px;
            cursor: pointer;
            .nav-link {
                border:none;
                padding:12px 16px 9px;
                font-family: $font-opensans;
                font-weight: 600;
                font-size: 14px;
                line-height: 19px;
                color: #35414D;
            }
            .active {
                border-bottom: 1px solid #fff;
                background: #FFFFFF;
                border-radius: 4px 4px 0px 0px;
                color:#00819F;
            }
        }
    }
    .content {
        .tab-content {
            padding:18px 16px;
            background-color:#fff;
            .form-group {
                margin-bottom: 0px;
                
            }
        }
    }
    label {
        font-family: $font-opensans;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 13px;
        color: #35414D;
    }
    input {
        &[type="file"] {
            border: 1px solid #00819F;
            box-sizing: border-box;
            border-radius: 3px;
            height:40px;
            font-weight: 300;
            font-size: 14px;
            line-height: 30px;
            color: #35414D;
        }
        &[type="text"] {
            border: 1px solid #00819F;
            box-sizing: border-box;
            border-radius: 3px;
        }
    }
    .imagesBlock {
        .card {
            border: none;
            .card-body {
                padding:0px;
                overflow: hidden;
                padding-bottom: 67%;
                img {
                    position: absolute;
                    min-width: 100%;
                    min-height: 100%;
                    height: auto;
                    width: auto;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%,-50%);
                    max-height: 100%;
                    max-width: 100%;
                }
            }
        }
    }
}