.postWordpress {
    background: none;
    padding: 0px;
    .searchBlock {
        margin-bottom: 15px;
        input {
            border:none;
            font-weight: 300;
            font-size: 14px;
            line-height: 19px;
            font-family: $font-opensans;
        }
    }
    #tablePosts {
        background: #fff;
        padding: 10px;
        border-radius: 4px;
        table {
            margin-bottom: 0px;
        }
    }
}