.successMsg {
    position: fixed;
    left:0px;
    top:0px;
    right:0px;
    bottom:0px;
    background:rgba(0,0,0,0.8);
    z-index: 6;
    .contentBlock{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        z-index: 2;
        color:#fff;
        text-align: center;
        background: #FFFFFF;
        box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.07), 0px 12px 16px rgba(0, 0, 0, 0.07), 0px 8px 8px rgba(0, 0, 0, 0.07), 0px 4px 4px rgba(0, 0, 0, 0.07), 0px 2px 2px rgba(0, 0, 0, 0.07);
        border-radius: 5px;
        padding:90px 50px 78px;
        > i {
            color:$primary;
            font-size: 96px;
        }
        p {
            font-size: 18px;
            margin-top:62px;
            color:#454545;
            font-weight: bold;
        }
        .btnBlock {
            margin-top:78px;
        }
        .btnClose {
            position: absolute;
            top:25px;
            right:20px;
            cursor:pointer;
            i {
                font-size:26px;
                color:#7E7E7E;
            }
        }
    }
}