@import 'variables';

//libraries
@import 'libraries/bootswatch/variables';



@import 'libraries/bootstrap/base.scss';

.es-page {
    margin-top:10px;
    background-color:#fff;
    padding:30px;
    color:$txt-primary;
    
    @import 'libraries/bootstrap/styles.scss';
    @import 'libraries/bootswatch/bootswatch';
    @import 'libraries/grapesjs';

    //custom
    @import 'fonts/all';
    @import 'base/all';
    @import 'components/all';
    @import 'pages/all';
}


