//fonts
$em-base: 16;
$font-awesome: 'FontAwesome';
$font-opensans: 'Open Sans', sans-serif;
$font-sourcesanspro: 'Source Sans Pro', sans-serif;

//body
$bg-body: #fff;
$font-color: #5C5F69;

//text-colors
$txt-primary:#5C5F69;
$txt-secondary:#4d4d4d;
$link-color: #00819f;

//colors
$primary: #00819f;
/*$secondary: #3d3d3d;*/
$error: #E02B2B;
$success: #51a351;
$warning: #f09c00;
